{% extends "base.html" %}

{% block page_title %}
Nova Entrada
{% endblock %}

{% block content %}

<div class="container my-4 px-0">

    <header class="text-center">
        <h1 class="font-primary h2">
            Nova Entrada
        </h1>
        <p>
            <a class="font-secondary text-dark" href="{% url 'main:record-detail' pk=view.get_parent.id %}">
                {{view.get_parent.name}}
            </a>
        </p>
    </header>

    <form method="post" style="max-width: 640px;" class="font-secondary mx-auto">

        {% csrf_token %}

        {% include "./form.html" %}

        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit">Salvar</button>
        </div>
    </form>
</div>

{% endblock %}
