{% extends "base.html" %}

{% block content %}

<div class="container my-4 px-0">

    <header class="text-center">
        <h1 class="font-primary h2">
            Nova Entrada
        </h1>
        <p>
            <a class="font-secondary text-dark" href="{% url 'main:record-detail' pk=view.get_object.parent.id %}">
                {{view.get_object.parent.name}}
            </a>
        </p>
    </header>

    <form method="post" style="max-width: 640px;" class="font-secondary mx-auto">

        {% csrf_token %}

        {% include "./form.html" %}

        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit">Salvar</button>
            <a class="btn btn-danger" type="button" data-bs-toggle="modal"
                data-bs-target="#delete-record-entry">Remover</a>
        </div>
    </form>
</div>

<div class="modal" tabindex="-1" id="delete-record-entry">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmar remoção ?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Tem certeza que deseja a conta <strong>{{view.get_object.name}}</strong> ?</p>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <form method="post" action="{% url 'main:record-entry-delete' pk=view.get_object.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Continuar</button>
                </form>
            </div>

        </div>
    </div>
</div>

{% endblock %}