{% extends "users/base.html" %}

{% block form %}
<div class="col-4 offset-4 shadow-sm bg-white my-1 px-0">

    <h1
        class="font-primary bg-secondary  mx-auto bg-opacity-25 text-center text-dark shadow-sm bg-gradient h3 py-4 mb-4">
        CADASTRO</h1>

    <form class="px-4" method="post">
        <form class="m-4 p-2" method="post">

            {% for error in form.non_field_errors %}
            <div class="my-1 alert alert-danger alert-dismissible fade show" role="alert">
                {{error}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}

            {% csrf_token %}

            <div class="mb-3">
                <label for="{{form.username.id_for_label}}" class="form-label">Usuário</label>
                {{form.username}}

                {% for error in form.username.errors %}
                <small class="form-text text-danger">{{error}}</small>
                {% endfor %}

            </div>

            <div class="mb-3">
                <label for="{{form.password1.id_for_label}}" class="form-label">Senha</label>
                {{form.password1}}
                {% for error in form.password1.errors %}
                <small class="form-text text-danger">{{error}}</small>
                {% endfor %}
            </div>

            <div class="mb-3">
                <label for="{{form.password2.id_for_label}}" class="form-label">Confirme a senha</label>
                {{form.password2}}
                {% for error in form.password2.errors %}
                <small class="form-text text-danger">{{error}}</small>
                {% endfor %}
            </div>

            <div class="mb-3">
                <button type="submit" class="btn bg-primary text-light shadow-sm w-100"><strong>Continuar</strong></button>
            </div>

            <div class="mb-3">
                <a class="btn btn-link text-dark" href="{% url 'users:login' %}">Login</a>
            </div>
        </form>
    </form>

</div>
{% endblock %}

<!--
    
    {% block header %}
<h1 class="bg-primary py-3 shadow-sm text-white text-center">Cadastro</h1>
{% endblock %}

{% block content %}

<div class="row mx-auto">
    
    <div class="col col-md-4 offset-md-4">
        
        

    </div>
    
</div>

{% endblock %}
-->