{% extends "base.html" %}

{% load static %}

{% block page_title %}
Contas
{% endblock %}

{% block style %}
{{block.super}}
<link href="{% static 'node_modules/datatables.net-dt/css/jquery.dataTables.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<h1 class="h2 font-primary text-center text-dark mt-4">{{record.name}}</h1>

<ul class="nav justify-content-center mb-4">

    {% if record.parent %}
    <li class="nav-item">
        <a class="btn btn-sm btn-primary text-white mx-1" title="Voltar"
            href="{% url 'main:record-detail' pk=record.parent.pk %}"><span
                class="material-icons-outlined">chevron_left</span></a>
    </li>
    {% endif %}

    <li class="nav-item">
        <a class="btn btn-sm btn-primary text-white mx-1" title="Nova Conta"
            href="{% url 'main:record-create' parent_id=record.pk %}"><span
                class="material-icons-outlined">create_new_folder</span></a>
    </li>

    <li class="nav-item">
        <a class="btn btn-sm btn-primary text-white mx-1" title="Editar Conta"
            href="{% url 'main:record-edit' pk=record.pk %}"><span class="material-icons-outlined">settings</span></a>
    </li>

    <li class="nav-item">
        <a class="btn btn-sm btn-primary text-white mx-1" title="Nova Entrada"
            href="{% url 'main:record-entry-create' parent_id=record.pk %}"><span
                class="material-icons-outlined">add</span></a>
    </li>

</ul>

<div class="pb-2 mb-3 bg-white shadow-sm"></div>

<div class="font-secondary row p-2 m-0 p-0">

    {% if record.parent_record.count > 0 %}
    <div class="col-3 align-self-start">

        <ul class="nav justify-content-center flex-column">
            {% for parent in record.parent_record.all %}
            <li class="nav-item my-1 bg-light shadow-sm">
                <a class="nav-link d-flex text-dark justify-content-between" aria-current="page"
                    href="{% url 'main:record-detail' pk=parent.pk %}">{{parent.name}}
                    <span class="badge bg-primary bg-opacity-25 text-white rounded">{{parent.records_count}}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <div class="col">
        {% include "./table_entries_snippet.html" %}
    </div>

</div>

{% endblock %}

{% block scripts %}
{{block.super}}
<script type="text/javascript" src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'node_modules/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'node_modules/datatables.net-dt/js/dataTables.dataTables.min.js' %}"></script>
{% include "datatable_translation.html" %}
<script>
    $(document).ready(function () {
        $('#record-entries').DataTable({
            language: datatable_translation
        });
    });
</script>
{% endblock %}
