<div class="table-responsive">
    <table id="record-entries" class="table table-hover">

        <thead>
            <tr>
                <th>Items</th>
            </tr>
        </thead>

        <tbody>
            {% for entry in record.record_entry.all %}
            <tr>
                <td class="p-0 pb-1">
                    <div class="m-0 accordion" id="accordion-record-entries">
                        {% include "main/components/entry_accordion.html" %}
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>